<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>
    {{ with site.Params.description }}
    <meta name="description" content="{{ . }}">{{ end }}
    {{ with site.Params.author }}
    <meta name="author" content="{{ . }}">{{ end }}

    {{ partial "resource.html" (dict "context" . "type" "css" "filename" "css/main.css") }}

    {{ range site.Params.customJS -}}
    {{ partial "resource.html" (dict "context" $ "type" "js" "filename" . ) }}
    {{- end }}

    {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink site.Title | safeHTML }}
    {{- end }}
</head>
